{% if site.intro %}
    <section class="intro">
        <div class="container">
            {% if site.profile_picture %}
                <a href="{{ site.base_url }}/about"><img id="intro-img" src="{{ site.profile_picture }}"></a>
            {% endif %}
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
            <p id="intro" style="margin-top: 30px;">
                {{ site.short_bio }}
            </p>
        </div>
    </section>
{% else %}
    <section class="intro">
        <div class="container">
            <h2 class="site-name">
                {% if site.site_heading %}
                    {{ site.site_heading }}
                {% else %}
                    {{ site.title }}
                {% endif %}
            </h2>
        </div>
    </section>
{% endif %}
